@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-06-05 16:20:48
 * @version $Id$
 */
h3 {
  border-left: 4px solid #c82625;
  color: #464648;
  font-size: 18px;
  text-indent: 12px;
  height: 20px;
  font-weight: 700;
}
.sidebar {
  right: 280px !important;
}
.pcimg .imglist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 149px);
  grid-gap: 6px;
  grid-template-areas: "item item item2" "item item item3" "item4 item5 item6";
}
.pcimg .imglist .img1,
.pcimg .imglist .img2 {
  position: relative;
  overflow: hidden;
}
.pcimg .imglist .img1 img {
  transition: .4s all;
}
.pcimg .imglist a {
  display: block;
  overflow: hidden;
}
.pcimg .imglist img {
  width: 100%;
  height: 100%;
  transform: scale();
}
.pcimg .imglist .img1 {
  grid-row: item;
  grid-column: item;
}
.pcimg .imglist .tanc {
  box-sizing: border-box;
  padding: 10px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(55, 124, 240, 0.9);
}
.pcimg .imglist .tanc p {
  color: white;
  font-size: 16px;
}
.pcimg .imglist .tanc.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list_text .bd {
  border-top: 4px solid #c82625;
}
.list_text .bd .list {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
  align-items: center;
}
.list_text .bd .list .zming {
  color: 13px;
  font-size: 14px;
  border-radius: 13px;
  display: inline-block;
  width: 52px;
  height: 24px;
  border: 1px solid #464646;
  line-height: 24px;
  text-align: center;
  margin-right: 10px;
}
.list_text .bd .list span {
  width: 70px;
  text-align: center;
}
.list_text .bd .list span img {
  width: 44px;
  height: 45px;
}
.list_text .bd .list span p {
  text-align: center;
}
@media (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}
